## COFFEE SHOP SALES ANALYSIS USING POLARS 

In this notebook we explore some functionality of the polars Data manipulation library

### imports necessary

In [23]:
# imports  
# Dont forget to pip install polars if its not already installed on your machine.. you can install it
# by opening you terminal of choice and running "python -m pip install polars"
import polars as pl 
from polars import col

### Loading in the Data

In [24]:
# Read data from file 
df = pl.read_excel(r"Coffee Shop Sales.xlsx") # replace this with your the location of your file.

### Size in memory check

In [25]:
# data frame size in memory 
df.estimated_size("megabytes")

14.6604642868042

### Viewing top of the data

In [26]:
# view of the first five top entries of the dataset 
df.head()

shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ transacti ┆ transacti ┆ transacti ┆ … ┆ unit_pric ┆ product_c ┆ product_t ┆ product_ │
│ on_id     ┆ on_date   ┆ on_time   ┆ on_qty    ┆   ┆ e         ┆ ategory   ┆ ype       ┆ detail   │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ date      ┆ datetime[ ┆ i64       ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
│           ┆           ┆ ms]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 1         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 3.0       ┆ Coffee    ┆ Gourmet   ┆ Ethiopia │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆ brewed    ┆ Rg       │
│           ┆           ┆ 07:06:11  ┆           ┆   ┆           ┆           ┆ coffee    ┆          │
│ 2         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 3.1       ┆ Tea       ┆ Brewed    ┆ Spicy    │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆ Chai tea  ┆ Eye      │
│           ┆           ┆ 07:08:56  ┆           ┆   ┆           ┆           ┆           ┆ Opener   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Chai Lg  │
│ 3         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 4.5       ┆ Drinking  ┆ Hot       ┆ Dark cho │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆ Chocolate ┆ chocolate ┆ colate   │
│           ┆           ┆ 07:14:04  ┆           ┆   ┆           ┆           ┆           ┆ Lg       │
│ 4         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 1         ┆ … ┆ 2.0       ┆ Coffee    ┆ Drip      ┆ Our Old  │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆ coffee    ┆ Time     │
│           ┆           ┆ 07:20:24  ┆           ┆   ┆           ┆           ┆           ┆ Diner    │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Blend Sm │
│ 5         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 3.1       ┆ Tea       ┆ Brewed    ┆ Spicy    │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆           ┆ Chai tea  ┆ Eye      │
│           ┆           ┆ 07:22:41  ┆           ┆   ┆           ┆           ┆           ┆ Opener   │
│           ┆           ┆           ┆           ┆   ┆           ┆           ┆           ┆ Chai Lg  │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### viewing bottom of the data

In [27]:
# view of bottom data entries
df.tail()

shape: (5, 11)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬──────────┐
│ transacti ┆ transacti ┆ transacti ┆ transacti ┆ … ┆ unit_pric ┆ product_c ┆ product_t ┆ product_ │
│ on_id     ┆ on_date   ┆ on_time   ┆ on_qty    ┆   ┆ e         ┆ ategory   ┆ ype       ┆ detail   │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---      │
│ i64       ┆ date      ┆ datetime[ ┆ i64       ┆   ┆ f64       ┆ str       ┆ str       ┆ str      │
│           ┆           ┆ ms]       ┆           ┆   ┆           ┆           ┆           ┆          │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪══════════╡
│ 149452    ┆ 2023-06-3 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 2.5       ┆ Tea       ┆ Brewed    ┆ Peppermi │
│           ┆ 0         ┆ 1         ┆           ┆   ┆           ┆           ┆ herbal    ┆ nt Rg    │
│           ┆           ┆ 20:18:41  ┆           ┆   ┆           ┆           ┆ tea       ┆          │
│ 149453    ┆ 2023-06-3 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 3.0       ┆ Tea       ┆ Brewed    ┆ English  │
│           ┆ 0         ┆ 1         ┆           ┆   ┆           ┆           ┆ Black tea ┆ Breakfas │
│           ┆           ┆ 20:25:10  ┆           ┆   ┆           ┆           ┆           ┆ t Lg     │
│ 149454    ┆ 2023-06-3 ┆ 1899-12-3 ┆ 1         ┆ … ┆ 3.0       ┆ Tea       ┆ Brewed    ┆ Peppermi │
│           ┆ 0         ┆ 1         ┆           ┆   ┆           ┆           ┆ herbal    ┆ nt Lg    │
│           ┆           ┆ 20:31:34  ┆           ┆   ┆           ┆           ┆ tea       ┆          │
│ 149455    ┆ 2023-06-3 ┆ 1899-12-3 ┆ 1         ┆ … ┆ 3.75      ┆ Coffee    ┆ Barista   ┆ Cappucci │
│           ┆ 0         ┆ 1         ┆           ┆   ┆           ┆           ┆ Espresso  ┆ no       │
│           ┆           ┆ 20:57:19  ┆           ┆   ┆           ┆           ┆           ┆          │
│ 149456    ┆ 2023-06-3 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 0.8       ┆ Flavours  ┆ Regular   ┆ Hazelnut │
│           ┆ 0         ┆ 1         ┆           ┆   ┆           ┆           ┆ syrup     ┆ syrup    │
│           ┆           ┆ 20:57:19  ┆           ┆   ┆           ┆           ┆           ┆          │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴──────────┘

### Exploration to understand what we got on our hands

In [28]:
# lets see all the column names and the data types in them 
df.schema

Schema([('transaction_id', Int64),
        ('transaction_date', Date),
        ('transaction_time', Datetime(time_unit='ms', time_zone=None)),
        ('transaction_qty', Int64),
        ('store_id', Int64),
        ('store_location', String),
        ('product_id', Int64),
        ('unit_price', Float64),
        ('product_category', String),
        ('product_type', String),
        ('product_detail', String)])

In [29]:
# how many transactions are we dealing with ?
df.unique().height

149116

In [30]:
# i need to make some calculations on these columns 

coffee = df.with_columns(
    (col("transaction_qty") * col("unit_price")).alias("Revenue"),
    col("transaction_date").dt.strftime("%b").alias("Month_name"),
    col("transaction_date").dt.month().alias("Month_num"),
    col("transaction_date").dt.strftime("%a").alias("week_day"),
    col("transaction_date").dt.weekday().alias("week_day_num"),
    col("transaction_time").dt.hour().alias("hour_of_day"),

).sort("Month_num")

In [31]:
# viewing the first 2 rows
coffee.head()

shape: (5, 17)
┌───────────┬───────────┬───────────┬───────────┬───┬───────────┬──────────┬───────────┬───────────┐
│ transacti ┆ transacti ┆ transacti ┆ transacti ┆ … ┆ Month_num ┆ week_day ┆ week_day_ ┆ hour_of_d │
│ on_id     ┆ on_date   ┆ on_time   ┆ on_qty    ┆   ┆ ---       ┆ ---      ┆ num       ┆ ay        │
│ ---       ┆ ---       ┆ ---       ┆ ---       ┆   ┆ i8        ┆ str      ┆ ---       ┆ ---       │
│ i64       ┆ date      ┆ datetime[ ┆ i64       ┆   ┆           ┆          ┆ i8        ┆ i8        │
│           ┆           ┆ ms]       ┆           ┆   ┆           ┆          ┆           ┆           │
╞═══════════╪═══════════╪═══════════╪═══════════╪═══╪═══════════╪══════════╪═══════════╪═══════════╡
│ 1         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 1         ┆ Sun      ┆ 7         ┆ 7         │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ 07:06:11  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 2         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 1         ┆ Sun      ┆ 7         ┆ 7         │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ 07:08:56  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 3         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 1         ┆ Sun      ┆ 7         ┆ 7         │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ 07:14:04  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 4         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 1         ┆ … ┆ 1         ┆ Sun      ┆ 7         ┆ 7         │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ 07:20:24  ┆           ┆   ┆           ┆          ┆           ┆           │
│ 5         ┆ 2023-01-0 ┆ 1899-12-3 ┆ 2         ┆ … ┆ 1         ┆ Sun      ┆ 7         ┆ 7         │
│           ┆ 1         ┆ 1         ┆           ┆   ┆           ┆          ┆           ┆           │
│           ┆           ┆ 07:22:41  ┆           ┆   ┆           ┆          ┆           ┆           │
└───────────┴───────────┴───────────┴───────────┴───┴───────────┴──────────┴───────────┴───────────┘

In [32]:
# what is the Revenue by month and number of transactions each month?

coffee.group_by(["Month_name"],maintain_order=True).agg(
    Monthly_Transactions = col("transaction_id").count(),
    Monthly_Revenue = col("Revenue").sum(),
    Monthly_mean_Qty = col("transaction_qty").mean()
)

shape: (6, 4)
┌────────────┬──────────────────────┬─────────────────┬──────────────────┐
│ Month_name ┆ Monthly_Transactions ┆ Monthly_Revenue ┆ Monthly_mean_Qty │
│ ---        ┆ ---                  ┆ ---             ┆ ---              │
│ str        ┆ u32                  ┆ f64             ┆ f64              │
╞════════════╪══════════════════════╪═════════════════╪══════════════════╡
│ Jan        ┆ 17314                ┆ 81677.74        ┆ 1.43641          │
│ Feb        ┆ 16359                ┆ 76145.19        ┆ 1.439575         │
│ Mar        ┆ 21229                ┆ 98834.68        ┆ 1.432286         │
│ Apr        ┆ 25335                ┆ 118941.08       ┆ 1.439471         │
│ May        ┆ 33527                ┆ 156727.76       ┆ 1.438632         │
│ Jun        ┆ 35352                ┆ 166485.88       ┆ 1.440993         │
└────────────┴──────────────────────┴─────────────────┴──────────────────┘

In [33]:
# what are the standings of each product category in terms of revenue and transactions ?

coffee.group_by(["product_category"],maintain_order=True).agg(
    Transactions_by_Product_cat = col("transaction_id").count(),
    Total_Revenue = col("Revenue").sum() 
).sort("Total_Revenue",descending=True)

shape: (9, 3)
┌────────────────────┬─────────────────────────────┬───────────────┐
│ product_category   ┆ Transactions_by_Product_cat ┆ Total_Revenue │
│ ---                ┆ ---                         ┆ ---           │
│ str                ┆ u32                         ┆ f64           │
╞════════════════════╪═════════════════════════════╪═══════════════╡
│ Coffee             ┆ 58416                       ┆ 269952.45     │
│ Tea                ┆ 45449                       ┆ 196405.95     │
│ Bakery             ┆ 22796                       ┆ 82315.64      │
│ Drinking Chocolate ┆ 11468                       ┆ 72416.0       │
│ Coffee beans       ┆ 1753                        ┆ 40085.25      │
│ Branded            ┆ 747                         ┆ 13607.0       │
│ Loose Tea          ┆ 1210                        ┆ 11213.6       │
│ Flavours           ┆ 6790                        ┆ 8408.8        │
│ Packaged Chocolate ┆ 487                         ┆ 4407.64       │
└────────────────────┴─────────────────────────────┴───────────────┘

In [34]:
# how are the Store locations doing in terms of Revenue and transactions?

coffee.group_by(["store_location"],maintain_order=True).agg(
    Transactions_by_store = col("transaction_id").count(),
    Revenue_by_store = col("Revenue").sum() 
).sort("Transactions_by_store",descending=True)

shape: (3, 3)
┌─────────────────┬───────────────────────┬──────────────────┐
│ store_location  ┆ Transactions_by_store ┆ Revenue_by_store │
│ ---             ┆ ---                   ┆ ---              │
│ str             ┆ u32                   ┆ f64              │
╞═════════════════╪═══════════════════════╪══════════════════╡
│ Hell's Kitchen  ┆ 50735                 ┆ 236511.17        │
│ Astoria         ┆ 50599                 ┆ 232243.91        │
│ Lower Manhattan ┆ 47782                 ┆ 230057.25        │
└─────────────────┴───────────────────────┴──────────────────┘

In [35]:
# what are the Transactions on a day to day count and in terms of Revenue ?

coffee.group_by(["week_day", "week_day_num"]).agg(
    Transactions_by_weekday = col("transaction_id").count(),
    Revenue_by_weekday = col("Revenue").sum() 
).sort("week_day_num").drop("week_day_num")

shape: (7, 3)
┌──────────┬─────────────────────────┬────────────────────┐
│ week_day ┆ Transactions_by_weekday ┆ Revenue_by_weekday │
│ ---      ┆ ---                     ┆ ---                │
│ str      ┆ u32                     ┆ f64                │
╞══════════╪═════════════════════════╪════════════════════╡
│ Mon      ┆ 21643                   ┆ 101677.28          │
│ Tue      ┆ 21202                   ┆ 99455.94           │
│ Wed      ┆ 21310                   ┆ 100313.54          │
│ Thu      ┆ 21654                   ┆ 100767.78          │
│ Fri      ┆ 21701                   ┆ 101373.0           │
│ Sat      ┆ 20510                   ┆ 96894.48           │
│ Sun      ┆ 21096                   ┆ 98330.31           │
└──────────┴─────────────────────────┴────────────────────┘

In [36]:
# what is the number of transactions in terms of hour of the day ?

coffee.group_by(["hour_of_day"]).agg(
    Transactions_by_hour = col("transaction_id").count(),
    Revenue_by_hour = col("Revenue").sum() 
).sort("hour_of_day").head(10)

shape: (10, 3)
┌─────────────┬──────────────────────┬─────────────────┐
│ hour_of_day ┆ Transactions_by_hour ┆ Revenue_by_hour │
│ ---         ┆ ---                  ┆ ---             │
│ i8          ┆ u32                  ┆ f64             │
╞═════════════╪══════════════════════╪═════════════════╡
│ 6           ┆ 4594                 ┆ 21900.27        │
│ 7           ┆ 13428                ┆ 63526.47        │
│ 8           ┆ 17654                ┆ 82699.87        │
│ 9           ┆ 17764                ┆ 85169.53        │
│ 10          ┆ 18545                ┆ 88673.39        │
│ 11          ┆ 9766                 ┆ 46319.14        │
│ 12          ┆ 8708                 ┆ 40192.79        │
│ 13          ┆ 8714                 ┆ 40367.45        │
│ 14          ┆ 8933                 ┆ 41304.74        │
│ 15          ┆ 8979                 ┆ 41733.1         │
└─────────────┴──────────────────────┴─────────────────┘

In [37]:
# why is Lower Manhattan having lower revenue ?
Man_manhattan = coffee.filter(
    col("store_location")=="Lower Manhattan"
)

# manhattan by day
Man_manhattan.group_by(["week_day", "week_day_num"]).agg(
    Transactions_by_weekday = col("transaction_id").count(),
    Revenue_by_weekday = col("Revenue").sum() 
).sort("week_day_num").drop("week_day_num")

shape: (7, 3)
┌──────────┬─────────────────────────┬────────────────────┐
│ week_day ┆ Transactions_by_weekday ┆ Revenue_by_weekday │
│ ---      ┆ ---                     ┆ ---                │
│ str      ┆ u32                     ┆ f64                │
╞══════════╪═════════════════════════╪════════════════════╡
│ Mon      ┆ 7136                    ┆ 34359.48           │
│ Tue      ┆ 6698                    ┆ 32792.71           │
│ Wed      ┆ 6767                    ┆ 32289.82           │
│ Thu      ┆ 6920                    ┆ 33159.35           │
│ Fri      ┆ 6860                    ┆ 33157.07           │
│ Sat      ┆ 6722                    ┆ 32449.32           │
│ Sun      ┆ 6679                    ┆ 31849.5            │
└──────────┴─────────────────────────┴────────────────────┘